<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="To Be Better Coach" />
    <meta property="og:description" content="Better Coach 베타 서비스 페이지" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />

    <title>베러코치, 실력있는 강사들의 시크릿</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRFB1EHZP3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZRFB1EHZP3');
    </script> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ERGGYHHCNH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ERGGYHHCNH');
    </script>
    <!-- Google jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){

            $(".main-button, .sub-button").click(function(){
                // alert('button!');
                window.open('https://bettercoachs.com');
                // $(location).attr('href','https://bettercoachs.com');
            });
        });
    </script>
</head>

<!-- <div class="p-navbar">
    <div class="p-navbar_inner">
        <div class="p-navbar_inner_logo-container">
            <a class="p-navbar_logo-icon" href="#"><img src="jett-logo.svg" alt=""></a>
        </div>
        <div class="p-navbar_inner_content">
            <ul class="p-navbar_menu">
                <li class="p-navbar_items"><a href="">회사소개</a></li>
                <li class="p-navbar_items"><a href="">고객센터</a></li>
                <li class="p-navbar_items"><a href="">자주묻는질문</a></li>
                <li class="p-navbar_items"><a href="">채용</a></li>
            </ul>
        </div>
    </div>

</div> -->
<main>
    <section class="main-content1">
        <div class="main-first">
            <div class="main-text1">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="">
                <h2>쉽게 확인하고 쉽게 기록하세요 <br> 실력있는 강사들의 시크릿, <span>베러코치</h2>
                <button class="main-button">베타테스트 신청하기</button>
                <!-- <p style="font-size: 16px;">(구글 폼링크로 연결)</p> -->
            </div>
            <div class="arrow">
                <div class="arrow-down"></div>
            </div>
        </div>
        <div class="main-subtitle1">
            <p>
                회원관리는 간편해지고, 수업의 질은 향상됩니다.<br>
                종이 없이 휴대폰 하나면 끝! 모바일로 관리하세요.<br>
                회원님과 신뢰가 자라나는 만큼, 강사님의 매출도 향상됩니다.
            </p>
        </div>
    </section>

    <section class="main-content2">
        <div class="main-content2-container p-container_default web">
            <div class="main-text2">
                <h4>회원정보 및 레슨준비</h4>
                <h3>한 눈에 보고<br>쉽고 빠르게</h3>
                <p>레슨 준비에 중요한 회원정보를 놓치지 마세요.<br>
                    다음 레슨 계획, 고민하지 마세요.<br>
                    회원님의 목표와 신체 특이사항 등 필요한 정보를 쉽게 확인하고,
                    이번 수업은 무엇을 해야할 지 길잡이가 되어드립니다.
                </p>
                <button class="sub-button">베타테스트 신청하기</button>
            </div>
            <div class="main-content2_imgBox"><img src="{{ url_for('static', filename='img/img01.png') }}" alt=""
                    class="main-content2_img"></div>

        </div>

        <div class="main-content2-container p-container_default mobile">
            <div class="main-content2_imgBox"><img src="{{ url_for('static', filename='img/img01.png') }}" alt=""
                    class="main-content2_img"></div>

            <div class="main-text2">
                <h4>회원정보 및 레슨준비</h4>
                <h3>한 눈에 보고<br>쉽고 빠르게</h3>
                <p>레슨 준비에 중요한 회원정보를 놓치지 마세요.<br>
                    다음 레슨 계획, 고민하지 마세요.<br>
                    회원님의 목표와 신체 특이사항 등 필요한 정보를 쉽게 확인하고,
                    이번 수업은 무엇을 해야할 지 길잡이가 되어드립니다.
                </p>
                <button class="sub-button">베타테스트 신청하기</button>
            </div>


        </div>
    </section>
    <section class="main-content-right">
        <div class="main-content2-container p-container_default">

            <div class="main-content2_imgBox"><img src="{{ url_for('static', filename='img/img02.png') }}" alt=""
                    class="main-content2_img"></div>
            <div class="main-text2">
                <h4>레슨일지 및 변화기록</h4>
                <h3>간편한 작성<br>체계적인 관리</h3>
                <p>
                    매 수업마다 내용을 하나하나 적지 마세요. <br>
                    기구별, 자세별로 동작을 찾아 간단하게 기록하세요.<br>
                    동작별 관리로 회원님의 전반적인 변화를 체크하고, <br>
                    수준과 능력을 확인하여 맞춤형 수업을 준비하세요.
                </p>
                <button class="sub-button">베타테스트 신청하기</button>
            </div>
        </div>

    </section>

    <section class="epilogue">
        <div class="epilogue-container">
            <h4>Brand Story</h4>
            <p><span>베러코치</span>는 현재 다양한 필라테스 레슨을 진행하고 있는<br>
                현직강사들이 직접 참여해서 만든 <span>필라테스 강사 전용 레슨기록 앱</span>입니다.<br><br>

                더 나은 레슨을 위해 수업이 끝난 후 수업 내용을 꾸준히 기록하면서,<br>
                회원님들의 좋은 피드백과 <span>재등록율</span> 향상을 경험했습니다.<br><br>

                그러나 매번 종이에 기록하고, 쌓이는 레슨일지를 찾아보는데 점점 더 많은 시간이 걸렸습니다.<br>
                이러한 불편함을 해소하기 위해 <span>현직 강사</span>들이 참여하여 강사들을 위한 앱을 직접 만들기로 했습니다.<br><br>

                필라테스 강사님들이 어떤 부분에서 불편함을 겪는지, 개선해야 할 점은 무엇인지,<br>
                끊임없이 <span>강사님들의 입장에서 도움이 되는 서비스</span>를 만들고 있습니다.</p>
        </div>
    </section>


</main>

<script src="{{ url_for('static', filename='main.js') }}"></script>

<body>

</body>

</html>